.tasks-window{
    width:45%;
    background-color: rgb(205, 168, 168) !important;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    margin:auto;
    justify-content: center;
}

.task-box{
    display: flex;
    flex-direction: row;

}

.task-card{
    width:100%;
}

.task-checkbox{
    font-size: x-large;
    align-self: center;
    padding-right: 10px;
}

.task-checkbox.completed{
    color:green;

}

.task-checkbox:hover{
    cursor: pointer;
}

.todo-window{
    width:85%;
    margin:auto;
}



.tasks-window>li{
    list-style: none;
    border: solid 2px black;
    padding:5px;
    width:fit-content
}

.tasks-window>li:hover{
    cursor: pointer;
    background-color: rgb(158, 127, 127);
}

.sort-dropdown{
    position: relative;
    display: inline-block;
    align-self: flex-end;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;

  }
.sort-dropdown:hover .dropdown-options{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    width:150px;
    background-color: rgb(158, 127, 127);
    z-index: 1;
    padding:5px;
    right:5px;
}

.sort-button{
    cursor: pointer;
    background-color: white;
    padding:5px;
    border-radius: 3px;
    margin-right:7px;
}

.todo-window-cag{
    display: flex;
    justify-content: space-between;
    width:45%;
    margin:auto;
    align-items: center;

}

.categories{
    display: flex;
    gap:15px;
}

.selected{
    border-bottom: 2px solid rgb(158, 127, 127);
    padding-bottom: 5px;;
}

.categories>span:hover{
    cursor: pointer;
}

.add-task-button{
    align-self:  end;
    margin-right: 150px;
    border:2px solid black !important;
}

.home-page{
    display: flex;
    flex-direction: column;

}
