/* TODO: Add sitewide styles */
.user-auth{
    display: flex;
    flex-direction: column;
    width:25%;
    margin:auto;
    align-content: center;
    min-width: 300px;
}

.user-auth-header{
    text-align: center;
}

.field-labels{
    position: relative;
    top: 1px;
    left: 20px;
    z-index:1;
    background-color: inherit;
    width: fit-content;
    padding:5px;
}

.user-auth > input {
    height: 35px;
}

.user-auth > button {
    height: 35px;
    width: 45%;
    align-self: center;
    margin-top:35px;
}

.user-auth > select{
    height:35px;
}

body{
    background-color: rgb(249, 241, 241);
    padding-bottom: 50px;
}

/* #root{
    padding-bottom: 20px;
} */
.group-page{
    margin-left: 250px;
}

button{
    cursor: pointer;
    border: solid 2px black;
    padding:5px;
    width:fit-content
}

button:hover{
    cursor: pointer;
    background-color: rgb(158, 127, 127);
}

.form-link:hover{
    color:rgb(158, 127, 127);
    cursor: pointer;
}

.form-link{
    width:fit-content;

}

form{
    padding:20px;
    height:500px;
    background-color: rgb(249, 241, 241);
}

.task-delete,.form-link{
    align-self: flex-end;
}
.hidden{
    display: none;
}

a.active{
    border-bottom: 4px solid rgb(158, 127, 127);
}
