/* TODO: Add sitewide styles */
.user-auth{
    display: flex;
    flex-direction: column;
    width:25%;
    margin:auto;
    align-content: center;
    min-width: 300px;
}

.user-auth-header{
    text-align: center;
}

.field-labels{
    position: relative;
    top: 12px;
    left: 20px;
    z-index:1;
    background-color: white;
    width: fit-content;
    padding:5px;
}

.user-auth > input {
    height: 35px;
}

.user-auth > button {
    height: 35px;
    width: 45%;
    align-self: center;
    margin-top:35px;
}

.user-auth > select{
    height:35px;
}

body{
    background-color: rgb(249, 241, 241);
}

.group-page{
    margin-left: 250px;
}
