.profile-dropdown {
  position: absolute;
  list-style: none;
  z-index: 1;
}
.profile-dropdown>li{
  padding:5px;
}
.page-header{
  display: flex;
  flex-direction: row;
  gap:25px;
  justify-content: space-between;
  padding:20px;
}

.logo{
  cursor: pointer;
}

.header-links>a{
  margin-right: 15px;
  text-decoration: none;
  color:black;
}

.header-links>a:hover{
  color: rgb(158, 127, 127);
}
