.profile-dropdown {
  position: absolute;
}

.page-header{
  display: flex;
  flex-direction: row;
  gap:25px;
  justify-content: space-between;
  padding:20px;
}

.logo{
  cursor: pointer;
}

.header-links>a{
  padding-right: 15px;
  text-decoration: none;
  color:black;
}

.header-links>a:hover{
  color: rgb(158, 127, 127);
}
