.task-card{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height:80px;
    padding:5px;
    max-width: 400px;
    margin:auto

}

.hidden{
    display: none;
}

.task-main{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.task-details{
    display: flex;
    gap:5px;
}
