.task-card{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px;
    max-width: 400px;
    margin:auto;
    position:relative;
    border-radius: 4px ;
}

.hidden{
    display: none;
}

.task-main{
    display: flex;
    flex-direction: column;
    gap:2px;
    width:80%;
}

.task-details{
    display: flex;
    gap:5px;
    max-width:70%;
    overflow-wrap:break-word;
}

.task-main>ul{
    margin-left: -26px !important;
    width:fit-content;
}

.edit-button{
    position:absolute;
    top: 0px;
    right:0px;
    background-color: inherit;
    border:none;
}

.user{
    position:absolute;
    top:4px;
    right:50px;
}

.extra-info{
    position:absolute;
    bottom:5px;
    right:5px;
    font-size: small;
}

.add-task{
    cursor: pointer;
    position: absolute;
    right: -19px;
    top: 3px;
}
