.group-manage{
    display: flex;
    flex-direction: row;
    gap:15px;
    padding:15px;

}

.group-manage>li{
    list-style: none;
    border: solid 2px black;
    padding:5px;
}

.group-manage>li:hover,.member-button:hover{
    cursor: pointer;
    background-color: rgb(158, 127, 127);
}

.member-button{
    background-color: inherit;
    border: solid 2px black;
    padding:5px;
}
