.user-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:80%;
    padding: 5px;
}

.group-page>li{
    list-style: none;
    border: solid 2px black;
    padding:5px;
    width:fit-content
}

.group-page>li:hover{
    cursor: pointer;
    background-color: rgb(158, 127, 127);
}

.group-users{
    background-color: white;
    max-width: 600px;
    margin:auto
}

.group-image{
    height: 200px;
}

.group-info{
    display: flex;
    flex-direction: row;
    gap:25px;
    margin:15px;
}

.group-tasks{
    background-color: rgb(205, 168, 168);
    display: flex;
    flex-direction: column;
    gap:7px;
    padding:7px;
    width:55%;
    margin:auto;
}
